/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: 'Terminal Grotesque Open';
    src: url(/css/fonts/terminal-grot/TerminalGrotesque-Open.woff2) format('woff2'),
        url(/css/fonts/terminal-grot/TerminalGrotesque-Open.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -----  Navigation  --------------- */
.sidenav {
    z-index: 1;
    font-size: 20px;
    padding: 20px 0 0 20px;
    margin: 0px;
    display: block;
    flex: 0 0 230px;
}

.nav-container {
    position: sticky;
    top: 20px;
}

.meta {
    margin: 6px 0 16px 0;
    display: block;
    color: #B63F2B;
    font-size: 17px;
    font-family: 'Terminal Grotesque Open';
    text-decoration: none;
}

.sidenav .meta a {
    display: inline;
    color: #B63F2B;
}

.sidenav a {
    display: block;
    margin-bottom: 2px;
}

a.is-active:before {
    content: "➔ ";
}

.sidenav .icon {
    display: none;
}

/* -----  Layout  ---------------------------------------- */

.container {
    display: flex;
    height: auto;
    min-height: 100vh;
}

.main {
    max-width: 700px;
    padding: 20px 20px 100px 20px;
    flex: 2 2 60%;
}

img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

/* -----  Basic  --------------- */
body,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.07;
    color: #B63F2B;
    font-style: normal;
    word-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0 auto;
    text-align: left;
}

p {
    margin: 0 auto 20px 0;
}

.small {
    font-size: 20px;
    max-width: 550px;
    line-height: 1.2;
}

.intro {
    font-family: 'Terminal Grotesque Open';
    font-size: 70px;
    margin-bottom: 30px;
    line-height: .9;
}

a {
    color: #ff3f3d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 a:hover {
    text-decoration: none;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

h1 {
    font-family: 'Terminal Grotesque Open';
    font-size: 90px;
    margin-bottom: 30px;
    line-height: .9;
}

h2 {
    font-family: 'Terminal Grotesque Open';
    font-size: 40px;
    margin: 40px 0 0 0;
    max-width: 550px;
}

h2:first-of-type {
    margin-top: 60px;
}

h3 {
    font-weight: 700;
    margin: 60px 0 0 0;
}

h4 {
    margin: 30px 0 2px 0;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 6px 0;
    max-width: 550px;
}

ul {
    margin: 0px 0px 20px 25px;
}

li {
    list-style-type: circle;
    margin: 0 0 20px;
}

.small li {
    margin: 0 0 8px;
}

.plain {
    list-style-type: none;
}

pre {
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    margin: 10px 0 20px 0;
}

code {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 1.2;
}

blockquote {
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    max-width: 550px;
    margin: 0 0 30px 20px;
}

hr {
    border-top: 1px dashed #ff3f3d;
    margin: 30px 0 30px 0;
    mix-blend-mode: multiply;
}

hr.more-space {
    margin-top: 60px;
    mix-blend-mode: multiply;
}

.no-space {
    margin: 0;
}

.space-below {
    margin-bottom: 20px;
}

.space-below-30 {
    margin-bottom: 30px;
}

.space-below-40 {
    margin-bottom: 40px;
}

.space-below-10 {
    margin-bottom: 10px;
    margin-top: auto;
}

.space-below-6 {
    margin-bottom: 6px;
}

.space-above-20 {
    margin-top: 20px;
}

.space-above-60 {
    margin-top: 60px;
}

h2:first-of-type.space-below {
    margin: 0 0 60px 0;
}

/* -----  Colored backgrounds  --------------- */
.thistle {
    background-color: thistle;
}

.lilac {
    background-color: #dad8f9;
}

.salmon {
    background-color: #fbdad0;
}

.blue {
    background-color: #d4e6ff;
}

.yellow {
    background-color: #ffd8bd;
}

.mint {
    background-color: #ffd994;
}

/* -----  Resources  --------------- */

.resources h4 {
    margin: 20px 0 6px 0;
    font-size: 20px;
}

.resources h4:first-of-type {
    margin-top: 0;
}


/* -----  Library  --------------- */

.pdf {
    margin-bottom: 30px;
}

.download-sentence {
    margin-top: 16px;
}

.filtered {
    background: #5038fe;
    mix-blend-mode: multiply;
    display: inline-grid;
    margin-bottom: 20px;
}

.filtered img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(150%);
    filter: grayscale(100%) contrast(150%);
    opacity: 1;
    margin-bottom: 0;
}

.filtered a:hover {
    background: none;
    mix-blend-mode: normal;
}

.filtered img:hover {
    filter: none;
    mix-blend-mode: normal;
    transition: 0.2s;
}


/* -----  Calendar  --------------- */
.calendar h3 {
    margin-top: 40px;
}

.calendar p {
    font-size: 20px;
}

ul.calendar {
    margin: 60px 0 0 0;
}

ul.calendar li {
    list-style-type: none;
    margin: 0;
}

ul.calendar li.calendar-row {
    border-top: 2px solid #B63F2B;
    padding: 20px 0 20px 0;
}

ul.calendar li ul li {
    list-style-type: circle;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
}

ul.calendar li ul li:last-of-type {
    margin-bottom: 30px;
}

ul.calendar .body {
    border-top: 1px dashed;
    margin-top: 20px;
}

.title {
    position: relative;
    cursor: pointer;
}

.title-current {
    color: #ff3f3d;
}

.week,
.days {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.week {
    text-decoration: none;
    margin-right: 30px;
}

.projects-start-end {
    float: right;
    font-family: 'Terminal Grotesque Open';
    font-size: 17px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 7px;
}

.body {
    display: none;
}

.doc {
    margin: 30px 0 30px 0;
}

/* -----  Responsive mobile  --------------- */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Interactive 1"). Show the link that should open and close the sidenav (.icon) */
@media screen and (max-width: 600px) {

    /* -----  Nav  --------------- */
    .sidenav {
        background: white;
        height: auto;
        padding: 10px;
        position: relative;
        flex: 0 0 auto;
        margin-bottom: 30px
    }

    .nav-container {
        position: unset;
    }

    .sidenav a:not(:first-child) {
        display: none;
    }

    .sidenav .meta {
        display: none;
    }

    .sidenav a {
        display: inline;
    }

    .sidenav a.icon {
        float: right;
        display: block;
    }

    .sidenav.responsive a {
        display: inherit;
        margin-bottom: 4px;
    }

    .sidenav.responsive a.icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .sidenav.responsive .meta {
        display: block;
        margin: 6px 0 16px 0;
    }

    .sidenav.sidenav.responsive .meta a {
        display: inline;
    }

    /* -----  Layout  --------------- */
    .container {
        display: flex;
        flex-direction: column;
    }


    /* -----  Content  --------------- */
    .intro {
        font-size: 40px;
    }

    img {
        width: 100%;
    }

    .projects-start-end {
        display: none;
    }
}

/* -----  Responsive medium width  --------------- */
@media screen and (max-width: 1000px) and (min-width: 601px) {
    .intro {
        font-size: 7vw;
    }

    .sidenav {
        flex: 0 0 20%;
    }
}

/* -----  Print styles  --------------- */
@media print {

    .main {
        width: 100%;
    }

    .sidenav {
        top: 0px;
        order: 2;
        margin-left: 20px;
    }

    .sidenav a {
        display: none;
    }

    h1 {
        font-size: 70px;
        line-height: .8;
    }

    h1:before {
        content: "Interactive 1 ";
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 6px;
    }

    body {
        font-size: 12px;
        color: black;
    }

    p {
        font-size: 12px;
        margin-bottom: 10px;
        color: black;
        page-break-inside: avoid;
    }

    code {
        font-size: 10px;
        line-height: 1;
        page-break-inside: avoid;
    }

    li {
        margin-bottom: 6px;
        page-break-inside: avoid;
    }

    li:last-of-type {
        margin-bottom: -2px;
    }

    pre {
        padding: 0;
    }

    p+ul {
        margin-top: -2px;
    }

    a {
        color: black;
    }

    a[href^="http"]:not([href*="mywebsite.com"]):after {
        content: " ("attr(href) ")";
        color: #9e9e9e;
    }

    .meta {
        color: black;
        font-size: 16px;
    }

    .sidenav .meta a {
        color: black;
    }

}