@font-face {
    font-family: 'Terminal Grotesque Open';
    src: url('TerminalGrotesque-Open.woff2') format('woff2'),
        url('TerminalGrotesque-Open.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

